
<!DOCTYPE html>
<html>
<head>
    <title>Student Registration - Modules</title>
</head>
<body>
    <h1>List of Courses and Modules</h1>
    <div>
    <h2>Computing</h2>
    <h4>code 1111</h4>
    <h4>Postgrad 1 year/2 years</h4>
    <h3>Cloud Computing</h3>
    <h3>Database Management</h3>
</div>
<div>
<h2>Engineering</h2>
<H4>code 1112</H4>
<h4>Undergrad 3 years</h4>
<h3>Electrical Engineering</h3>
<h3>Robotics</h3>
</div>

<div>
    <h2>Biomedicine and Health Science</h2>
    <h4>code 1113</h4>
    <h4>Undergrad 4 years</h4>
    <h3>Human Anatomy</h3>
    <h3>Epigenetics</h3>

</div>
<div>
    <h2>Chemistry</h2>
    <h4>code 1114</h4>
    <h4>Postgrad 2 year</h4>
    <h3>Principles Of Chemistry</h3>
    <h3>Organic and Biosynthetic Chemistry</h3>
</div>
<div>
    <h2>Business Studies</h2>
    <h4>code 1115</h4>
    <h4>Undergrad 3 years</h4>
    <h3>Market Managment</h3>
    <h3>Organisational Structures</h3>
</div>
<div>
    <h2>Law</h2>
    <h4>code 1116</h4>
    <h4>Undergrad 4/5years</h4> 
    <h3>Criminal Law</h3>
    <h3>Human Rights and Justice</h3>
</div>



</body>
</html>